@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }

  .dark {
    a {
      @apply text-blue-300 hover:text-blue-500 visited:text-purple-300;
    }
  }

  html,
  body {
    @apply bg-black text-white;
    /* hide scrollbar */

    overflow: auto; /* or 'scroll' if you always want scrollability */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE 10+ and Edge */
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

.placeholder {
  @apply text-neutral-300 bg-neutral-300 animate-pulse rounded-lg;
}
