@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  overscroll-behavior: none;
  user-select: none;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
